body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

.input-style {
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.input-style:hover {
  border-color: #c7c6c5;
}

.input-style:active,
.input-style:focus {
  border-color: #8fbdec;
}

.input-style::-moz-placeholder {
  font-weight: 300;
  color: #999;
}

.input-style::-webkit-input-placeholder {
  font-weight: 300;
  color: #999;
}

.button {
  display: inline-block;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;

  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6f5e), to(#f58669));
  background-image: -webkit-linear-gradient(bottom, #ec6f5e, #f58669);
  background-image: -o-linear-gradient(bottom, #ec6f5e, #f58669);
  background-image: linear-gradient(0deg, #ec6f5e, #f58669);
}

.button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843);
  background-image: -o-linear-gradient(top, #e74a35, #f26843);
  background-image: linear-gradient(180deg, #e74a35, #f26843);
  -webkit-box-shadow: inset 0 2px 2px #ac1000;
          box-shadow: inset 0 2px 2px #ac1000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 9px;
}

.page-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page-header__logo {
  margin-right: 10px;

  line-height: 0;
}

.main-nav {
  font-weight: 700;
  line-height: 18px;
}

.main-nav__nav-list {
  margin: 0;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-list__item {
  padding-top: 14px;
  padding-bottom: 16px;
}

.main-nav__nav-list,
.nav-list__nav-roll,
.user-list,
.slider__list,
.features__list,
.social__list,
.about-us__list {
  list-style: none;
}

.nav-list__link {
  padding-top: 7px;
  padding-bottom: 6px;
  padding-right: 14px;
  padding-left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  color: #ffffff;
}

.nav-list__link::after {
  content: " ";
  width: 100%;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.nav-list__item:hover .nav-list__link,
.nav-list__link:focus {
  color: #323232;

  background: #fff;
  border-radius: 25px;
}

.nav-list__link.active {
  color: #323232;

  background: #d07058;
  border-radius: 25px;
}

.nav-list__item:hover .nav-list__link.active,
.nav-list__link.active:focus,
.nav-list__item:active .nav-list__link.active {
  color: #fff;

  background-color: #d07058;
}

.nav-list__item:hover .nav-list__nav-roll,
.nav-list__link:focus+.nav-list__nav-roll,
.nav-list__nav-roll:hover {
  display: block;
}

.nav-list__item:active .nav-list__link {
  color: #323232;

  background: #fff;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
}

.nav-list__link.active {
  color: #fff;

  background: #d07058;
  border-radius: 25px;
}

.nav-list__nav-roll {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  top: 51px;
  left: -6px;
  width: 143px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  border-radius: 6px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

  z-index: 1;
}

.nav-roll__item {
  padding-right: 6px;
  padding-left: 6px;
  margin-bottom: 1px;
}

.nav-roll__item:first-of-type .nav-roll__link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-roll__item:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-bottom: 0;
}

.nav-roll__link {
  display: block;
  padding-top: 6px;
  padding-bottom: 11px;
  padding-left: 14px;

  color: #323232;
}

.nav-roll__item.active,
.nav-roll__item.active:hover,
.nav-roll__item.active:focus,
.nav-roll__item.active:active {
  color: #fff;

  background-color: #d07058;
}

.nav-roll__item:hover,
.nav-roll__item:focus {
  background-color: #fbded8;
}

.nav-roll__item:active {
  background-color: #f6b5a5;
}

.nav-roll__link--font-weight {
  font-weight: 700;
}

.user-list__roll,
.nav-list__nav-roll {
  display: none;

  background-color: #f8f7f4;
}

.user-list {
  width: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-left: 20px;

  font-size: 14px;
  line-height: 16px;
}

.user-list__item {
  position: relative;
  margin-right: 10px;
  padding-top: 14px;
  padding-bottom: 15px;
}

.user-list__item:nth-child(3n) {
  margin-right: 0;
}

.user-list__link {
  display: block;

  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
}

.link-cart:not(.empty),
.user-list__item:hover .user-list__link:not(.empty),
.user-list__link:not(.empty):focus {
  color: #323232;

  background-color: #fff;
}

.user-list__search-icon {
  display: block;
  width: 33px;
  height: 32px;

  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 8px 7px;
}

.user-list__item:hover .user-list__search-icon,
.user-list__link:focus .user-list__search-icon {
  background-image: url(../img/icon-search-black.svg);
}

.link-search {
  display: block;
  position: relative;
  width: 33px;
  height: 32px;

  border-radius: 50%;
}

.user-list__item:hover .user-list__roll {
  display: block;
}

.user-list__roll {
  position: absolute;
  top: 50px;
  right: -2px;

  border-radius: 6px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

  z-index: 1;
}

.search {
  padding: 20px 15px;
}

.search__field {
  width: 311px;
  padding: 9px 14px;

  border-radius: 6px;
}

.authorization {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 17px;
  padding-left: 19px;
  width: 277px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.authorization__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authorization__field {
  width: 100%;
  padding: 9px 14px;
  margin-bottom: 20px;

  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.authorization__button {
  padding: 10px;
  padding-left: 25px;
  padding-right: 24px;
  max-width: 100px;
}

.authorization__link {
  display: block;
  margin-bottom: -4px;

  text-align: left;
}

.link-login {
  position: relative;
  padding-top: 8px;
  padding-right: 17px;
  padding-bottom: 8px;
  padding-left: 44px;

  border-radius: 25px;
}

.user-list__login-icon {
  position: absolute;
  width: 20px;
  height: 19px;
  top: 6px;
  left: 16px;

  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
}

.user-list__item:hover .user-list__login-icon,
.link-login:focus .user-list__login-icon {
  background-image: url(../img/icon-login-black.svg);
}

.link-cart.empty,
.link-cart {
  position: relative;
  padding-top: 8px;
  padding-right: 34px;
  padding-bottom: 8px;
  padding-left: 44px;

  border-radius: 25px;
}

.link-cart:not(.empty) {
  padding-right: 16px;
  padding-left: 43px;
}

.user-list__cart-icon {
  position: absolute;
  width: 22px;
  height: 20px;
  top: 6px;
  left: 16px;

  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
}

.user-list__cart-icon:not(.empty),
.user-list__item:hover .user-list__cart-icon:not(.empty),
.link-cart:focus .user-list__cart-icon:not(.empty) {
  background-image: url(../img/icon-cart2.svg);
}

.authorization__link {
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.authorization__link:hover,
.authorization__link:focus {
  color: #e84d37;
}

.authorization__link:active {
  color: #e84d37;
}

.cart {
  width: 540px;
  padding: 20px 15px;
  padding-right: 14px;

  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #323232;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.cart__goods:last-of-type {
  padding-bottom: 16px;
  border-bottom: 1px solid #cacac7;
  margin-bottom: 15px;
}

.goods__delete {
  margin-right: 14px;
  width: 11px;
  height: 33px;

  background-color: transparent;
  background-image: url(../img/icon-closesmall.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

.cart__image--radius {
  margin-right: 13px;
  width: 33px;
  height: 33px;
  overflow: hidden;

  border-radius: 50%;
}

.goods__title {
  margin-right: 30px;
  padding-top: 9px;
  width: 217px;
}

.goods__characteristic {
  margin-right: 28px;
}

.goods__characteristic,
.goods__total-cost {
  padding-top: 9px;
}

.goods__total {
  color: #999999;
}

.cart__total-cost {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 12px;

  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.cart__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 11px 15px;
}

.page-header__contact {
  margin: 0;
  margin-left: auto;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.contact__work-time {
  display: block;
  margin-bottom: 4px;
}

.page-header__contact-tel {
  display: block;

  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
}

.slider-bg {
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../img/slider1.png");

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
  position: relative;
  padding-top: 275px;
  margin-bottom: 41px;

  text-align: center;
}

.slider__list {
  width: 710px;
  margin: 0 auto;
  padding: 0;
}

.slider__title {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;

  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.slider__link {
  padding-top: 8px;
  padding-right: 41px;
  padding-left: 41px;
  padding-bottom: 11px;

  font-size: 32px;
  line-height: 44px;

  border-radius: 34px;
  text-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;

  font-size: 0;

  z-index: 2;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

#product-1:checked~.slider-bg {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
}

#product-2:checked~.slider-bg {
  background-color: #8996a6;
  background-image: url("../img/slider2.png");
}

#product-3:checked~.slider-bg {
  background-color: #9d8b84;
  background-image: url("../img/slider3.png");
}

#product-1:checked~.slider-bg #slide1,
#product-2:checked~.slider-bg #slide2,
#product-3:checked~.slider-bg #slide3 {
  display: block;
}

#product-1:checked~.slider-bg label[for="product-1"],
#product-2:checked~.slider-bg label[for="product-2"],
#product-3:checked~.slider-bg label[for="product-3"] {
  background-color: #ffffff;
}

.page-main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.actions__block {
  width: 560px;
  padding-left: 18px;
  padding-right: 21px;
  padding-top: 16px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 15px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.actions__block--bg-razz {
  background-image: url(../img/bg-razz.png);
  background-color: #912140;
}

.actions__block--bg-chocolate {
  background-image: url(../img/bg-chocolate.png);
  background-color: #402315;
}

.actions__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.actions__info {
  margin: 0;
  margin-bottom: 44px;

  font-size: 18px;
}

.actions__link {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 21px;
}

.button--padding {
  padding-top: 9px;
  padding-right: 22px;
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-hits__item,
.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 38px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-hits__item:nth-child(4n),
.products__item:nth-child(4n) {
  margin-right: 0;
}

.products-hits__item:hover::after,
.products__item:hover::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -13px;
  right: -13px;
  bottom: 0;

  background: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;

  z-index: 1;
}

.products-hits__full-foto,
.products__full-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 13px;
  border-radius: 50%;

  z-index: 2;
}

.icon-hits {
  position: absolute;
  content: "";
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;

  background-image: url(../img/icon-hit.svg);
  background-repeat: no-repeat;

  z-index: 4;
}

.products-hits__item:hover .products-hits__button-block,
.products__item:hover .products__button-block {
  display: block;
}

.products-hits__price,
.products__price {
  position: absolute;
  top: 209px;
  left: 0px;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  text-shadow: 1px 2px 3px rgba(49, 50, 53, 0.5);

  z-index: 2;
}

.products-hits__price::after,
.products__price::after {
  position: relative;
  content: url(../img/icon-p.svg);
  width: 45px;
  height: 45px;
  right: 72px;
  top: 4px;
}

.products-hits__price--font-size,
.products__price--font-size {
   margin-left: 24px;

  font-size: 30px;
}

.products-hits__name--text-align,
.products__name--text-align {
  padding: 0px 6px;

  text-align: center;
}

.products-hits__name,
.products__name {
  margin: 0;

  font-size: 16px;
  font-weight: 400;

  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.products-hits__button-block,
.products__button-block {
  position: absolute;
  display: none;
  bottom: -77px;
  left: -13px;
  right: -13px;
  padding-top: 11px;
  padding-bottom: 22px;

  text-align: center;

  background: rgba(255, 255, 255, .2);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  z-index: 3;
}

.products-hits__button,
.products__button {
  padding: 10px 17px;
}

.page-main__features {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 25px;
  padding-bottom: 15px;

  background-image: url(../img/waffles.jpg);
  background-repeat: repeat;
  background-color: #e9dcc2;
  border: 0;
  border-radius: 15px;
}

.features__main-info {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;

  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features__item {
  position: relative;
  width: 540px;
  padding-left: 56px;
  padding-top: 13px;
  padding-bottom: 9px;

  font-weight: 300;
  color: #323232;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.features__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
}

.icon-ice-cream {
  background-image: url(../img/icon-ice-cream.svg);
}

.icon-cow {
  background-image: url(../img/icon-cow.svg);
}

.icon-leaf {
  background-image: url(../img/icon-leaf.svg);
}

.icon-thermometer {
  background-image: url(../img/icon-thermometer.svg);
}

.page-main__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 39px;
}

.news-blog,
.subscription {
  width: 560px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
}

.news-blog {
  padding: 23px 20px;
  background-image: url(../img/bg-strawberry.jpg);
}

.news-blog__text {
  margin: 0;
  margin-bottom: 4px;

  color: #323232;
}

.news-blog__link {
  display: block;
  width: 285px;
  margin-bottom: 58px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.news-blog__link:hover,
.news-blog__link:focus .news-blog__link:active {
  color: #e84d37;
}

.subscription {
  padding: 6px;

  background-image: -webkit-repeating-linear-gradient(315deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background-image: -o-repeating-linear-gradient(315deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
}

.subscription__block {
  padding-left: 21px;
  padding-right: 14px;
  padding-top: 29px;
  padding-bottom: 35px;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscription__description {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;

  font-weight: 300;
  color: #5a5a5a;
}

.subscription__field {
  width: 366px;
  padding: 9px 13px;
  margin-right: 10px;

  font-size: 16px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscription__button {
  padding-top: 9px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 11px;
}

.map {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.map__img {
  margin: 0 auto;
}

.map__contacts {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 302px;
  right: 27px;
  top: 50%;
  padding-left: 25px;
  padding-top: 29px;
  padding-right: 25px;
  padding-bottom: 30px;

  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #323232;

  background-color: #fefefe;
  border: 0;
  border-radius: 15px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-transform: translateY(-51%);
      -ms-transform: translateY(-51%);
          transform: translateY(-51%);
}

.map__contacts p {
  margin: 0;
  margin-bottom: 2px;
}

.contacts__address {
  margin-bottom: 17px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts__tel {
  margin-bottom: 3px;
  padding-top: 3px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #323232;
}

.contacts__working-hours {
  margin-bottom: 24px;
}

.contacts__button {
  padding-top: 10px;
  padding-bottom: 12px;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 234px;
  margin: 0;
  padding-left: 0;
  padding-top: 30px;
  padding-bottom: 33px;
}

.social__link {
  display: block;
  position: relative;
  width: 38px;
  height: 38px;
  margin-right: 11px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-repeat: no-repeat;

  opacity: 0.8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
  border-color: rgba(255, 255, 255, 0.7);

  opacity: 1;
}

.social__link:active::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;

  border-radius: 50%;
  background-color: #e9e9e9;

  opacity: 0.3;
  z-index: 1;
}

.social__link:nth-child(5n) {
  margin-right: 0;
}

.social__link--twitter {
  background-image: url(../img/icon-twiter.svg)
}

.social__link--instagram {
  background-image: url(../img/icon-instagram.svg)
}

.social__link--facebook {
  background-image: url(../img/icon-fb.svg)
}

.social__link--vkontakte {
  background-image: url(../img/icon-vk.svg)
}

.page-footer__about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 22px;
}

.about-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

.about-us__item {
  position: relative;
}

.about-us__list:last-child {
  margin-right: 54px;
}

.about-us__link {
  padding-right: 10px;
  padding-left: 20px;

  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}

.about-us__love-icon {
  position: absolute;
  content: "";
  width: 15px;
  height: 14px;
  left: -2px;
  top: 6px;

  background-image: url(../img/icon-love.svg);
  background-repeat: no-repeat;
}

.about-us__link--bold {
  font-weight: 700;
}

.link--border {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.page-footer__copyright {
  padding-top: 13px;
  padding-bottom: 24px;
}

.copyright__creator {
  margin: 0;

  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.copyright__HTMLacademy-logo {
  margin-left: 2px;
}

.footer__link {
  color: #fff;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
  color: #ffbc9e;
}

.footer__link:hover .link--border,
.footer__link:focus .link--border,
.footer__link:active .link--border {
  border-color: rgba(255, 188, 158, 0.3);
}

@-webkit-keyframes animat-left {
  0% {
    -webkit-transform: translateX(-2000px) translateY(-50%);
            transform: translateX(-2000px) translateY(-50%);
  }
  70% {
    -webkit-transform: translateX(-40%) translateY(-50%);
            transform: translateX(-40%) translateY(-50%);
  }
  90% {
    -webkit-transform: translateX(-60%) translateY(-50%);
            transform: translateX(-60%) translateY(-50%);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes animat-left {
  0% {
    -webkit-transform: translateX(-2000px) translateY(-50%);
            transform: translateX(-2000px) translateY(-50%);
  }
  70% {
    -webkit-transform: translateX(-40%) translateY(-50%);
            transform: translateX(-40%) translateY(-50%);
  }
  90% {
    -webkit-transform: translateX(-60%) translateY(-50%);
            transform: translateX(-60%) translateY(-50%);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@-webkit-keyframes modal-er {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-60%, -60%);
            transform: translate(-60%, -60%);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-40%, -40%);
            transform: translate(-40%, -40%);
  }
}

@keyframes modal-er {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-60%, -60%);
            transform: translate(-60%, -60%);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-40%, -40%);
            transform: translate(-40%, -40%);
  }
}

.modal {
  display: none;
  position: fixed;
  padding-right: 25px;
  padding-left: 22px;
  padding-bottom: 33px;
  padding-top: 14px;
  width: 477px;
  top: 50%;
  left: 50%;

  background-color: #f8f7f4;
  border-radius: 9px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  z-index: 9;
}

.modal__title {
  display: block;
  margin-bottom: 19px;

  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 400;
}

.modal__close {
  position: absolute;
  right: 17px;
  top: 11px;
  width: 18px;
  height: 19px;

  border: none;
  background-color: transparent;
  background-image: url(../img/icon-closebig.svg);
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__input {
  margin-bottom: 19px;
  padding-left: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 15px;
  width: 267px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal__input,
.modal__textarea {
  font-size: 16px;
}

.modal__textarea {
  min-height: 155px;
  margin-bottom: 26px;
  padding: 10px 14px;
  resize: none;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}

.modal__button {
  margin-left: auto;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-right: 23px;
  padding-left: 24px;
}

.modal--show {
  display: block;

  -webkit-animation: animat-left 0.6s;
          animation: animat-left 0.6s;
}

.modal--error {
  -webkit-animation: modal-er 1s;
          animation: modal-er 1s;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.2);

  z-index: 8;
}

.overlay--block {
  display: block;
}

.bread-crumbs {
  position: relative;
  top: 26px;
  margin: 0;
  padding: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;

  font-size: 14px;
  line-height: 16px;
}

.bread-crumbs__item:not(:last-of-type) {
  position: relative;
  padding-right: 14px;
  margin-right: 8px;
}

.bread-crumbs__item:not(:last-of-type)::before {
  position: absolute;
  content: "»";
  right: 0;
}

.bread-crumbs__link {
  color: #fff;
}

.bread-crumbs__link:not(.desabled) {
  text-decoration: underline;
}

.bread-crumbs__link:hover:not(.desabled),
.bread-crumbs__link:focus:not(.desabled),
.bread-crumbs__link:active:not(.desabled) {
  color: #ffbc9e;
}

.catalog__title {
  margin: 0;
  margin-bottom: 26px;
  padding-top: 2px;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 900px;
}

.catalog__filter {
  margin-bottom: 40px;
}

.filter__label {
  display: block;
}

.sorting__title {
  margin-bottom: 6px;
  padding-left: 17px;

  font-size: 14px;
  line-height: 16px;
}

.filter__form {
  font-size: 14px;
  line-height: 16px;
}

.filter--style {
  font-size: 16px;
  line-height: 18px;

  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 30px;
}

.filter__sorting {
  position: relative;
  margin-right: 16px;
}

.sorting__field {
  position: relative;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 33px;
  padding-bottom: 9px;

  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/icon-down-dir-white.svg);
  background-position: 168px center;
  background-repeat: no-repeat;
  border: none;

  -webkit-appearance: none;
  
  -moz-appearance: none;
  text-indent: 0.01px;
  -o-text-overflow: '';
     text-overflow: '';
  
  -ms-appearance: none;
  appearance: none;
  cursor: pointer;
}

.sorting__field::-ms-expand {
  display: none;
}

.sorting__field:hover,
.sorting__field:focus,
.sorting__field:active {
  color: #323232;

  background-image: url(../img/icon-down-dir.svg);
}

.sorting__field option {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
}

.sorting__field option:hover,
.sorting__field option:focus {
  color: #fff;
}

.filter__price {
  margin-right: 14px;
}

.price--price-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}

.price__title {
  padding-left: 14px;
  margin-right: 4px;
}

.peice-control label {
  cursor: pointer;
}

.price-input {
  width: 25px;

  color: #fff;

  background-color: transparent;
  border: 0;
}

.price-range {
  position: relative;
  width: 176px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-left: 21px;
  padding-right: 22px;
  padding-bottom: 16px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  border: none;
}

.price-range .scale {
  height: 4px;

  background: rgba(255, 255, 255, 0.5);
}

.price-range .bar {
  width: 50%;
  height: 4px;

  background: #ffffff;
}

.price-range .price-toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;

  -webkit-box-shadow: 0 2px 2px 0 #cfcfcf;
          box-shadow: 0 2px 2px 0 #cfcfcf;
  border-radius: 50%;

  cursor: pointer;
}

.price-toggle:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.price-range .toggle-min {
  left: 34px;
}

.price-range .toggle-max {
  left: 132px;
}

.richness__title,
.filling__title {
  display: block;
  margin-bottom: 6px;
  padding-left: 14px;

  font-size: 14px;
  line-height: 16px;
}

.filling__title {
  padding-left: 15px;
}

.richness__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  padding-left: 46px;
  padding-right: 17px;
  padding-bottom: 8px;
}

.richness--el {
  position: relative;
  margin-right: 50px;

  cursor: pointer;
}

.richness--el::after {
  position: absolute;
  content: url(../img/radio-off.svg);
  left: -33px;
  top: -5px;

  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);

  opacity: 0.8;
}

.richness--el:hover::after {
  opacity: 1;
}

.richness__radio:checked+label::after {
  content: url(../img/radio-on.svg);
}

.richness__radio:disabled+label::after {
  opacity: 0.4;
}

.richness__radio:focus+label::after {
  opacity: 1;

  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.richness--el:nth-of-type(4n) {
  margin-right: 0;
}

.checkbox__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-left: 48px;
  padding-right: 6px;

  cursor: pointer;
}

.filling__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.checkbox__item::after {
  position: absolute;
  content: url(../img/checkbox-off.svg);
  left: -34px;
  top: -4px;

  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);

  opacity: 0.8;
}

.checkbox__item:hover::after {
  opacity: 1;
}

.filling__checkbox:checked+label::after {
  content: url(../img/checkbox-on.svg);
}

.filling__checkbox:disabled+label::after {
  opacity: 0.4;
}

.filling__checkbox:focus+label::after {
  opacity: 1;

  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter__filling {
  margin-right: 13px;
}

.filter__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 7px;
  padding-left: 28px;
  padding-bottom: 9px;
  padding-right: 28px;
  margin-top: 22px;

  vertical-align: bottom;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;

  background-color: rgba(255, 255, 255, 0.19);
  border: 2px solid #fff;
  border-radius: 30px;
}

.filter__button:hover,
.filter__button:focus {
  color: #323232;

  background-color: #fff;
}

.filter__button:active {
  -webkit-box-shadow: 0 -2px 1px #696969;
          box-shadow: 0 -2px 1px #696969;
}

.catalog__products {
  margin-bottom: 40px;
}

.products__pagination {
  margin: 0;
  padding: 0;
  padding-bottom: 29px;
  padding-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  text-align: right;
  list-style: none;
  line-height: 18px;

  border-bottom: 1px solid #a9bbb1;
}

.pagination__item {
  width: 27px;
  height: 27px;
  padding-top: 6px;
  padding-bottom: 5px;
  margin-left: 2px;

  text-align: center;

  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination__link {
  padding-top: 10px;
  color: #fff;
}

.pagination__item:hover,
.pagination__item:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__item.active,
.pagination__item:active {
  background-color: #fff;
}

.pagination__item.active .pagination__link,
.pagination__item:active .pagination__link {
  color: #353535;
}

.pagination__prev,
.pagination__next {
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.pagination__prev {
  margin-right: 3px;

  opacity: 0.2;

  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination__next {
  margin-right: -9px;
  margin-left: 6px;
}

.page-catalog footer {
  margin-top: -35px;
}