body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-style {
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.input-style:hover {
  border-color: #c7c6c5;
}

.input-style:active,
.input-style:focus {
  border-color: #8fbdec;
}

.input-style::-moz-placeholder {
  font-weight: 300;
  color: #999;
}

.input-style::-webkit-input-placeholder {
  font-weight: 300;
  color: #999;
}

.button {
  display: inline-block;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(0deg, #ec6f5e, #f58669);
}

.button:active {
  background-image: linear-gradient(180deg, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px #ac1000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;

  box-sizing: border-box;
}

.page-header .container {
  display: flex;
  flex-direction: column;
  padding-top: 9px;  
}

.page-header__row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.page-header__logo {
  margin-right: 10px;

  line-height: 0;
}

.main-nav {
  font-weight: 700;
  line-height: 18px;
}

.main-nav__nav-list {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.nav-list__item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-nav__nav-list,
.nav-list__nav-roll,
.user-list,
.slider__list,
.features__list,
.social__list,
.about-us__list {
  list-style: none;
}

.nav-list__link {
  padding-top: 6px;
  padding-bottom: 8px;
  padding-right: 14px;
  padding-left: 14px;

  display: flex;
  flex-direction: column;

  color: #ffffff;
}

.nav-list__link::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: rgba(255,255,255,0.2);
}

.nav-list__item:hover .nav-list__link,
.nav-list__link:focus {
  color: #323232;

  background: #fff;
  border-radius: 25px;
}

.nav-list__item:hover .nav-list__nav-roll,
.nav-list__link:focus+.nav-list__nav-roll,
.nav-list__nav-roll:hover {
  display: block;
}

.nav-list__item:active .nav-list__link{
  color: #323232;

  background: #fff;
  border-radius: 25px;
  box-shadow: inset 0 2px 1px #696969;
}


.nav-list__link.active {
  color: #fff;

  background: #d07058;
  border-radius: 25px;
}

.nav-list__nav-roll {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 55px;
  width: 143px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  border-radius: 6px;
  box-shadow: 0 20px 20px  rgba(0,0,0, 0.4);

  z-index: 1;
}

.nav-roll__item {
 padding-right: 6px;
 padding-left: 6px;
}

.nav-roll__item:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.nav-roll__item:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.nav-roll__link {
  display: block;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 21px;

  color: #323232;
}

.nav-roll__item:first-child .nav-roll__link {
  border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.nav-roll__item.active,
.nav-roll__item.active:hover,
.nav-roll__item.active:focus,
.nav-roll__item.active:active {
  background-color: #d07058;
}

.nav-roll__item:hover,
.nav-roll__item:focus {
  background-color: #fbded8;
}

.nav-roll__item:active {
  background-color: #f6b5a5;
}

.nav-roll__link--font-weight {
  font-weight: 700;
}

.user-list__roll,
.nav-list__nav-roll { 
  display: none;

  background-color: #f8f7f4;
}

.user-list {
  width: 262px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-left: 20px;
  

  font-size: 14px;
  line-height: 16px;
}

.user-list__item {
  position: relative;

  padding-top: 15px;
  padding-bottom: 15px;
}

.user-list__link {
  display:block;

  color: #fff;

  background-color: rgba(255,255,255, 0.2);
}

.user-list__item:hover .user-list__link,
.user-list__link:focus {
  color: #323232;

  background-color: #fff;
}

.user-list__search-icon{
  display: block;
  width: 32px;
  height: 32px;

  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-list__item:hover .user-list__search-icon {
  background-image: url(../img/icon-search-black.svg);
}

.link-search {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  
  border-radius: 50%;
}

.user-list__item:hover  .user-list__roll {
  display: block;
}

.user-list__roll {
  position: absolute;
  top: 51px;
  right: 0;

  border-radius: 6px;
  box-shadow: 0 20px 20px  rgba(0,0,0, 0.4);

  z-index: 1;
}

.search {
  padding: 20px 15px;
}

.search__field {
  width: 311px;
  padding: 9px 14px;
  
  border-radius: 6px;
}

.authorization {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 17px;
  padding-left: 19px;
  width: 277px;

  box-sizing: border-box;
}

.authorization__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.authorization__field {
  width: 100%;
  padding:  9px 14px;
  margin-bottom: 20px;

  border-radius: 6px;
  
  box-sizing: border-box;
}

.authorization__button {
  padding: 10px;
  padding-left: 25px;
  padding-right: 24px;
  max-width: 100px;
}

.authorization__link{
  display: block;

  text-align: left;
}

.link-login {
  position: relative;

  padding: 8px 16px 7px 46px;

  border-radius: 25px;
}

.user-list__login-icon {
  position: absolute;
  width: 20px;
  height: 19px;
  top: 6px;
  left: 17px;

  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;

}

.user-list__item:hover .user-list__login-icon,
.link-login:focus .user-list__login-icon {
  background-image: url(../img/icon-login-black.svg);
}

.link-cart {
  position: relative;
  padding-top: 8px;
  padding-right: 30px;
  padding-bottom: 7px;
  padding-left: 45px;

  border-radius: 25px;
}

.user-list__cart-icon {
  position: absolute;
  width: 22px;
  height: 20px;
  top: 6px;
  left: 16px;

  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
}

.user-list__item:hover .user-list__cart-icon,
.link-cart:focus .user-list__cart-icon {
  background-image: url(../img/icon-cart2.svg);
}

.authorization__link {
  font-size 13px;
  font-weight: 300;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.authorization__link:hover,
.authorization__link:focus {
  color: #e84d37;
}

.authorization__link:active {
  color: #e84d37;
}

.cart {
  width: 540px;
  padding: 20px 15px;

  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #323232;

  box-sizing: border-box;
}

.cart--flex {
  display: flex;
  flex-direction: column;
}

.cart__goods {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart__goods:last-of-type {
  padding-bottom: 16px;
  border-bottom: 1px solid #cacac7;
  margin-bottom: 15px;
}

.goods__delete {
  width: 11px;
  height: 33px;
  

  background-color: transparent;
  background-image: url(../img/icon-closesmall.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

.cart__image--radius {
  width: 33px;
  height: 33px;

  overflow: hidden;

  border-radius: 50%;
}

.goods__title {
  width: 217px;
  padding-top: 9px;
}

.goods__characteristic,
.goods__total-cost {
  padding-top: 9px;
}

.goods__total {
  color: #999999;
}

.cart__total-cost {
  margin-left: auto;
  margin-bottom: 12px;

  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.cart__button {
  margin-left: auto;
  padding: 11px 15px;
}

.page-header__contact {
  margin: 0;
  margin-left: auto;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.contact__work-time {
  display: block;
  margin-bottom: 4px;
}

.page-header__contact-tel {
  display: block;

  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
}

.slider-bg {
  background-color: #849d8f;
  
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../img/slider1.png");  
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
  position: relative;
  padding-top: 275px;
  margin-bottom: 40px;


  text-align: center;
}

.slider__list {
  width: 670px;
  margin: 0 auto;
  padding: 0;
}


.slider__title {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;

  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.slider__link {
  padding: 10px 40px 11px;
  padding-left: 41px;

  font-size: 32px;
  line-height: 44px;

  text-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 2;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .slider-bg {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
}

#product-2:checked ~ .slider-bg {
  background-color: #8996a6;
  background-image: url("../img/slider2.png");
}

#product-3:checked ~ .slider-bg {
  background-color: #9d8b84;
  background-image: url("../img/slider3.png");
}

#product-1:checked ~ .slider-bg #slide1,
#product-2:checked ~ .slider-bg #slide2,
#product-3:checked ~ .slider-bg #slide3 {
  display: block;
}

#product-1:checked ~ .slider-bg label[for="product-1"],
#product-2:checked ~ .slider-bg label[for="product-2"],
#product-3:checked ~ .slider-bg label[for="product-3"] {
  background-color: #ffffff;
}

.page-main__actions{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.actions__block {
  width: 560px;
  padding: 17px 20px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  

  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 15px;

  box-sizing: border-box;
}

.actions__block--bg-razz {
  background-image: url(../img/bg-razz.png);
  background-color: #912140;
}

.actions__block--bg-chocolate {
  background-image: url(../img/bg-chocolate.png);
  background-color: #402315;
}

.actions__title {
  margin: 0;
  margin-bottom: 16px;
  
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.actions__info {
  margin: 0;
  margin-bottom: 42px;

  font-size: 18px;
  font-weight: bold;
}

.actions__link {
  margin-left: auto;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 22px;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
}

.products-hits__item,
.products__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 37px;
  

  
  box-sizing: border-box;
}

.products-hits__item:nth-child(4n),
.products__item:nth-child(4n) {
  margin-right: 0;
}

.products-hits__item:hover::after,
.products__item:hover::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -13px;
  right: -13px;
  bottom: 0;

  background: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;

  z-index: 1;
}

.products-hits__full-foto,
.products__full-foto {
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 13px;

  border-radius: 50%;

  z-index: 2;
}

.icon-hits {
  position: absolute;
  content: "";
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;

  background-image: url(../img/icon-hit.svg);
  background-repeat: no-repeat;

  z-index: 4;
}

.products-hits__item:hover .products-hits__button-block,
.products__item:hover .products__button-block {
  display: block;
}

.products-hits__price,
.products__price {
  position: absolute;
  top: 212px;
  left: 0px;
  font-size: 45px;
  font-weight: 700;
  line-height: 41px;

  text-shadow: 1px 2px 3px rgba(49,50,53,0.5);

  z-index: 2;
}

.products-hits__price--font-size,
.products__price--font-size {
  font-size: 30px;
  margin-left: -16px;
}

.products-hits__name--text-align,
.products__name--text-align {
  text-align: center;
}

.products-hits__name,
.products__name {
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}


.products-hits__button-block,
.products__button-block {
  position: absolute;
  display: none;
  bottom: -77px;
  left: -13px;
  right: -13px;
  padding-top: 11px;
  padding-bottom: 22px;

  text-align: center;

  background: rgba(255, 255, 255, .2);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  box-sizing: border-box;
  z-index: 3;
}



.products-hits__button,
.products__button {
  padding: 10px 17px;
}

.page-main__features {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 16px;

  background-image: url(../img/waffles.jpg);
  background-repeat: repeat;
  background-color: #e9dcc2;
  border: 0;
  border-radius: 15px;
}

.features__main-info {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;

  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features__item {
  position: relative;
  width: 540px;
  padding-left: 56px;
  padding-top: 14px;
  padding-bottom: 8px;
  

  font-weight: 300;
  color: #323232;

  box-sizing: border-box;
}

.features__icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
}

.icon-ice-cream {
  background-image: url(../img/icon-ice-cream.svg);
}

.icon-cow {
  background-image: url(../img/icon-cow.svg);
}

.icon-leaf {
  background-image: url(../img/icon-leaf.svg);
}

.icon-thermometer {
  background-image: url(../img/icon-thermometer.svg);
}

.page-main__columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.news-blog,
.subscription {
  width: 560px;
  
  box-sizing: border-box;

  
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
}

.news-blog {
  padding: 23px 20px;

  background-image: url(../img/bg-strawberry.jpg);
}

.news-blog__text {
  margin: 0;
  margin-bottom: 4px;

  color: #323232;
}

.news-blog__link {
  display: block;
  width: 285px;
  margin-bottom: 58px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}



.news-blog__link:hover,
.news-blog__link:focus
.news-blog__link:active {
  color: #e84d37;
}

.subscription {
  padding: 6px;

  background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
}

.subscription__block {
  padding: 21px;
  padding-top: 29px;
  padding-bottom: 35px;

  background-color: #f8f7f4;
  border-radius: 15px;

}

.subscription__description {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;

  font-weight: 300;
  color: #5a5a5a;
}

.subscription__field {
  width: 366px;
  padding: 9px 13px;
  margin-right: 8px;

  font-size: 16px;

  box-sizing: border-box;
}

.subscription__button {
  padding-top: 9px;
  padding-left: 17px;
  padding-right: 18px;
  padding-bottom: 11px;
  
}

.map {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.map__img {
  margin: 0 auto;
}

.map__contacts {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 302px;
  right: 27px;
  top: 50%;
  padding-left: 25px;
  padding-top: 28px;
  padding-right: 25px;
  padding-bottom: 32px;
  

  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #323232;

  background-color: #fefefe;
  border: 0;
  border-radius: 15px;
  box-sizing: border-box;

  transform: translateY(-50%);

  min-height: 306px;
}

.map__contacts p {
  margin: 0;
  margin-bottom: 1px;
}

.contacts__address {
  margin-bottom: 18px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts__tel {
  margin-bottom: 3px;
  padding-top: 3px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #323232;
}

.contacts__working-hours {
  margin-bottom: 24px;
}

.contacts__button {
  padding-top: 10px;
  padding-bottom: 13px;
}

.container--flex {
  display: flex;
  justify-content: space-between;

}

.social__list {
  display: flex;
  flex-wrap: wrap;
  width: 234px;
  margin: 0;
  padding-left: 0;
  padding-top: 29px;
  padding-bottom: 33px;

}

.social__link {
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 12px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-repeat: no-repeat;

  box-sizing: border-box;
}

.social__link:nth-child(5n) {
  margin-right: 0;
}

.social__link--twitter {
  background-image: url(../img/icon-twiter.svg)
}

.social__link--instagram {
  background-image: url(../img/icon-instagram.svg)
}

.social__link--facebook {
  background-image: url(../img/icon-fb.svg)
}

.social__link--vkontakte {
  background-image: url(../img/icon-vk.svg)
}

.page-footer__about-us {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 22px;
}

.about-us__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

.about-us__item {
  position: relative;
  
}

.about-us__list:last-child {
  margin-right: 54px; 
}

.about-us__link {
  padding-right: 10px;
  padding-left: 20px;
   

  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}



.about-us__love-icon{
  position: absolute;
  content: "";
  width: 15px;
  height: 14px;
  left: -2px;
  top: 5px;
  
 
  background-image: url(../img/icon-love.svg);
  background-repeat: no-repeat;
}

.about-us__link--bold {
  font-weight: 700;
}

.link--border {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.page-footer__copyright {
  padding-top: 12px;
  padding-bottom: 24px;
}


.copyright__creator {
  margin: 0;

  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.footer__link {
  color: #fff;
}


.footer__link:hover,
.footer__link:focus,
.footer__link:active {
  color: #ffbc9e;
}

.footer__link:hover .link--border,
.footer__link:focus .link--border,
.footer__link:active .link--border {
  border-color: rgba(255, 188, 158, 0.3);
}



.modal {
  background-color: #f8f7f4;

  /*временно*/

  display: none;
}

.modal__title {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 400;
}

.modal__input,
.modal__textarea {
  font-size: 16px;
}

.bread-crumbs {
  margin: 0;
  padding: 0;  
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
  list-style:none;

  font-size: 14px;
  line-height: 16px;
}

.bread-crumbs__item:not(:last-of-type) {
  position: relative;
  padding-right: 14px;
  margin-right: 8px;
}

.bread-crumbs__item:not(:last-of-type)::before {
  position: absolute;
  content: "»";
  right: 0;
}

.bread-crumbs__link {
  color: #fff;
}

.bread-crumbs__link:not(.desabled) {
  text-decoration: underline;
}

.bread-crumbs__link:hover:not(.desabled),
.bread-crumbs__link:focus:not(.desabled),
.bread-crumbs__link:active:not(.desabled) {
  color: #ffbc9e;
}

.catalog__title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.filter__form {
  display: flex;
  flex-wrap: wrap;

  /*временно*/

  width: 800px;
}

.catalog__filter{
  margin-bottom: 30px;
}

.filter__label {
  display: block;
}

.sorting__title {
  font-size: 14px;
  line-height: 16px;
}

.filter__form {
  font-size: 14px;
  line-height: 16px;
}

.filter--style {
  font-size: 16px;
  line-height: 18px;

  background-color: #aabab0;
  border-radius: 30px;
}

.sorting__field {
  color: #fff;

  background-color: transparent;
  border: none;
}

.sorting__field:hover,
.sorting__field:focus,
.sorting__field:active {
  color: #323232;
}

.sorting__field option {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
}

.sorting__field option:hover,
.sorting__field option:focus {
  color: #fff;
}

.filter__button {
  box-sizing: border-box;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;

  background-color: #aabab0;
  border: 2px solid #fff;
  border-radius: 30px;
}


.filter__button:hover,
.filter__button:focus {
  color: #323232;

  background-color: #fff;
}

.filter__button:active {
  box-shadow:  0 -2px 1px #696969;
}

.products__pagination {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-end;

  text-align: right;
  list-style: none;
  line-height: 18px;
  border-bottom: 1px solid #a9bbb1;
}

.pagination__item {
  width: 27px;
  height: 27px;
  padding-top: 6px;
  padding-bottom: 5px;

  text-align: center;
  
  border-radius: 50%;
  box-sizing: border-box;
}


.pagination__link {
  padding-top: 10px;
  color: #fff;
}

.pagination__item:hover,
.pagination__item:focus {
  background-color: rgba(255,255,255,0.2);
  
}

.pagination__item.active,
.pagination__item:active {
  background-color: #fff;
}

.pagination__item.active .pagination__link,
.pagination__item:active .pagination__link {
  color: #353535;
}

.pagination__prev,
.pagination__next{
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination__prev {
   transform: rotate(180deg);
}